@{
    ViewBag.Title = "Home Page";
}
@model MVC_Simple_Calculator.Models.Service.ICalculate<double>
<h2>IP пользователя @ViewBag.UserIp</h2>
<div>
    @using (Ajax.BeginForm("ResultCalculateOperation", new AjaxOptions { HttpMethod = "post", OnSuccess = "OnSuccess", OnFailure = "Fail" }))
    {
        <table class="table">
            <tr>
                <th>
                    Первое значение
                </th>
                <th>
                    Операция
                </th>
                <th>
                    Второе значение значение
                </th>
                <th>

                </th>
                <th>
                    Результат
                </th>
            </tr>
            <tr>
                <td>
                    <input type="number" id="first_value" name="first" size="16" step="0.1"/>  
                </td>
                <td>
                    <input type="text" id="operation_id" name="operation" /> 
                </td>
                <td>
                    <input type="number" id="second_value" name="second" size="16" step="0.1"/> 
                </td>
                <td>
                    <input type="submit" onclick="CheckInputValue"value="Рассчитать" />
                </td>
                <td>
                    <input type="text" id="result">
                </td>
            </tr>
        </table>
    }
</div>

<div>
    @using (Ajax.BeginForm("CaluclateStoryList", new AjaxOptions { UpdateTargetId = "caluclate_results", HttpMethod = "get", OnFailure = "FailList" }))
    {
            <input type="submit" value="Вернуть стори" />        
    }
    <div id="caluclate_results"></div>
</div>
<script type="text/javascript">
    function OnSuccess(result) {
        console.log("this result is " + result)
        document.getElementById("result").value = result
    }
    function Fail(request) {
        console.log(request);
        alert(request.statusText);
    }
    function FailList(request, error, huita) {
        
        alert(request.statusText)
        console.log(error)
        console.log(huita)
    }
    function CheckInputValue() {
        var a_num, b_num;
        a_num = document.getElementById("first_value").value;
        b_num = document.getElementById("second_value").value;
        if (isNaN(a_num) && isNaN(b_num)) {
            alert("Введены некорректные значения");
        }
        else {
            
        }
    }
</script>